@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: $dark;
	background-color: $white;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.pacifico-regular {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-style: normal;
}
.header {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: #f0ecfc;
	background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
	.logo {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		padding-left: 20px;
		padding-top: 10px;
		height: 10%;
		background-color: $white;
		z-index: 500;
		overflow: hidden;
		img {
			width: 70%;
		}
	}
	.welcome {
		.motto {
			position: absolute;
			top: 20%;
			left: 50%;
			width: 100vw;
			padding-left: 30px;
			transform: translateX(-50%);
			font-family: 'Pacifico';
			font-size: 50px;
		}
		i {
			position: absolute;
			display: flex;
			top: 80vh;
			left: 50%;
			transform: translateX(-50%);
		}
		p {
			position: absolute;
			display: flex;
			top: 70vh;
			left: 50%;
			transform: translateX(-50%);
			font-size: 25px;
			text-transform: uppercase;
		}
	}
}
.hamburger {
	position: fixed;
	top: 0;
	right: 0;
	// transform: translateY(-50%);
	z-index: 5000;
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $dark;
		z-index: 5002;
	}
}
.nav {
	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #f0ecfc;
		background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
		transform: translateX(-102%);
		transition: transform 0.3s;
		z-index: 10;

		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: none;
	}
	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: $darker;
		text-transform: uppercase;
		text-decoration: none;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.2);
		}
	}
}

.about-me {
	position: relative;
	background-color: $white;
	height: 100vh;
	justify-content: center;
	align-items: center;
	.section-title {
		position: relative;
		margin: 0 auto 2em;
		font-size: 3.2rem;
		color: $dark;
		font-weight: 200;
		width: fit-content;

		&::before {
			position: absolute;
			bottom: -0.1em;
			left: 0;
			width: 40px;
			height: 2px;
			background-color: $gold;
			content: '';
		}
	}
}

@import './large';
